doctype html
html
  head
    title Human Emails
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='css/app.css')
    script(src='js/app.js')
  body
    .hero
      .container
        nav.row
          .col-md-2.col-xs-4
            a(href='/')
              img.logo(src='/img/logo.png')

        .row
          .col-md-10
            h1 Close more leads by knowing when to followup
            h2 Check if your email was opened in any email client
        .row.call-to-action
          form#mc-embedded-subscribe-form.validate(action='//domasbitvinskas.us10.list-manage.com/subscribe/post?u=f84937ea3dcb3a0e8caee05e2&id=398ca79174', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            .col-md-5.col-sm-7
              input#mce-EMAIL.form-control(type='email' placeholder='Your Best Email' name='EMAIL')
            .col-md-3.col-sm-5
              input.btn.get-a-lift#mc-embedded-subscribe(type='submit', value="I'd like to use it", name='subscribe')
            .col-md-12#mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
            div(style='position: absolute; left: -5000px;')
              input(type='text', name='b_f84937ea3dcb3a0e8caee05e2_398ca79174', tabindex='-1', value='')
        .row.showoff
          .col-md-offset-2.col-md-8
            img.img-responsive(src='/img/showoff2.png')

    .container
      .app
        .row
          .col-md-6
            h3 Simpler workflow
            p
              | Use <b>your favorite email client</b> to <b>write emails</b>.
              | Use that same client to <b>check if they were opened too</b>.
              | No more complex platforms or sending emails like a robot.
              
            h3 Increase reply rates
            p
              | <b>Stop sending those fancy designed marketing emails</b>. Seriously. Start talking to your
              | customers like a real human. Check if the email was opened in a nice way.

            blockquote
              p I've got a deeper relationship with my leads overnight.
              footer Someone famous
          .col-md-6.text-center
            img.img-responsive(src='/img/mobile_view.png')

    .footer
      .container
        .row
          .col-xs-5
            .map
          .col-xs-6.col-xs-offset-1
            h4 Built for everyone by
            h4.love
              | team behind
              a(href='http://closeheat.com' target='_blank')  closeheat
              | .
