doctype html
html
  head
    title Human Emails
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='css/app.css')
  body
    .hero
      .container
        nav.row
          .col-md-12
            a.logo(href='/') Human Emails

        .row
          .col-md-10
            h1 Use email signature
            h2 Check if email was opened in your email client
        .row.call-to-action
          .col-md-3.col-sm-7
            a.btn#get-a-lift(href='http://humanemails.com/users/sign_up') Use it - I'm a human
        .row(style='padding-top: 50px;')
          .col-md-6
            img.img-responsive(src='https://cloud.githubusercontent.com/assets/1877286/8413895/2fd4c808-1e94-11e5-8222-2c69d3721e97.png')
          .col-md-6
            img.img-responsive(src='https://cloud.githubusercontent.com/assets/1877286/8413897/32987922-1e94-11e5-8206-c2935b413ddf.png')

    .container
        .companies
          .row.text-center
            h5 Yeah, this is a MVP. Its not pretty. But it works.

    .footer
      .container
        .row
          .col-xs-5
            .map
          .col-xs-6.col-xs-offset-1
            h4 Built for everyone by
            h4.love Domas Bitvinskas.

            ul.menu
              li
                a(href='mailto:domas.bitvinskas@me.com') domas.bitvinskas@me.com