doctype html
html
  head
    title Human Emails
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='css/app.css')
    script(src='js/app.js')
  body
    .hero
      .container
        nav.row
          .col-md-3.col-xs-6
            a(href='/')
              img.logo(src='img/logo.png')

        .row
          .col-md-10
            h1 Use email signature
            h2 Check if your email was opened in your email client
        .row.call-to-action
          .col-md-5.col-sm-7
            input.form-control(type='email' placeholder='Your Best Email')
          .col-md-3.col-sm-5
            a.btn#get-a-lift(href='#') Use it - I'm a human

    .container
      .companies
        .row.text-center
          .find-out Our pilot companies that chosen to work with us
        .row
          .company-logos

      .app
        .row
          .col-md-6
            h3 Stop looking like a salesperson
            p
              | Our app uses the best technology to fit all of the clients.
              | It reaches more and more users every day.
              | Can you imagine how easy it is to find a cab now?

            blockquote
              p It's an amazing app to explore
              footer Someone famous
          .col-md-4.col-md-offset-2.text-center
            img(src='/img/app.png')

    .footer
      .container
        .row
          .col-xs-5
            .map
          .col-xs-6.col-xs-offset-1
            h4 Built for everyone by
            h4.love
              | team behind
              a(href='http://closeheat.com' target='_blank')  closeheat
              | .
